<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Registro/Login</title>
    <audio autoplay>
        <source src="Is that Freddy Fazbear_.mp3" type="audio/mp3">
    </audio>
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <!--<h1 class="text-2xl font-semibold text-yellow-400 mb-6" id="form-title">Finance at Freddy's</h1>-->
    <div class="bg-purple-500  p-8 rounded-2xl shadow-md w-96">
        <h1 class="text-2xl font-semibold mb-6" id="form-title">Registro</h1>
        <form id="auth-form" th:action="@{/login}" method="post">
            <div th:if="${param.error}">Invalid username and password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <div class="mb-4">
                <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="border rounded-xl w-full py-2 px-3" required>
            </div>
            <div class="mb-4">
                <label for="correo" class="block text-gray-700 text-sm font-bold mb-2">Correo electrónico</label>
                <input type="email" id="correo" name="correo" class="border rounded-xl w-full py-2 px-3" required>
            </div>
            <div class="mb-4">
                <label for="contrasena" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" class="border rounded-xl w-full py-2 px-3" required>
            </div>
            <div class="mb-6" id="confirmar-contrasena-container">
                <label for="confirmar-contrasena" class="block text-gray-700 text-sm font-bold mb-2">Confirmar contraseña</label>
                <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" class="border rounded-xl w-full py-2 px-3" required>
            </div>
            <button type="submit" value="Sign In" id="auth-button" class="bg-black text-white py-2 px-4 rounded-xl hover:bg-gray-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                Registrarse
            </button>
        </form>
        <p class="mt-4">¿Ya tienes una cuenta? <a href="#" id="toggle-form">Inicia sesión</a></p>
    </div>

    <script>
        const formTitle = document.getElementById('form-title');
        const authForm = document.getElementById('auth-form');
        const toggleFormLink = document.getElementById('toggle-form');
        const confirmarContrasenaContainer = document.getElementById('confirmar-contrasena-container');
        const authButton = document.getElementById('auth-button');

        toggleFormLink.addEventListener('click', function (event) {
            event.preventDefault();
            const isLoginForm = formTitle.innerText === 'Iniciar sesión';

            formTitle.innerText = isLoginForm ? 'Registro' : 'Iniciar sesión';
            authForm.reset(); // Limpiar el formulario al cambiar entre registro e inicio de sesión

            // Mostrar u ocultar el campo "Confirmar contraseña" según la vista
            confirmarContrasenaContainer.style.display = isLoginForm ? 'block' : 'none';

            // Cambiar el texto del botón según la vista
            authButton.innerText = isLoginForm ? 'Registrarse' : 'Iniciar sesión';
            toggleFormLink.innerText = isLoginForm ? 'Inicia sesion' : 'Registrate';
        });
    </script>
</body>
</html>
